@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

@typeparam TItemType

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName"
         style="@Style"
         @ref="@Ref">

        @if (ContextMenu != null)
        {
            <Menu @ref="_contextMenu" IsContextMenu="true" OpenDirection="PopupOpenDirections.Cursor">
                @ContextMenu
            </Menu>
        }

        @if (ItemSource != null)
        {
            @foreach (var item in ItemSource)
            {
                <HierarchicalTreeViewItem TItemType="TItemType" Item="@item">
                    @DataTemplate(item)
                </HierarchicalTreeViewItem>
            }
        }
    
    </div>

</CascadingValue>