@namespace Gizmo.Web.Components
@inherits GizInputBase<TValue>

@typeparam TValue

<GizInput Class="@ClassName"
          Style="@Style"
          Label="@Label"
          ValidationErrorStyle="@ValidationErrorStyle"
          IsDisabled="@IsDisabled"
          IsFullWidth="@IsFullWidth"
          Width="@Width"
          HasOutline="@HasOutline"
          HasShadow="@HasShadow"
          IsTransparent="@IsTransparent"
          Size="@Size"
          IsValid="@IsValid"
          ValidationMessage="@ValidationMessage">
    <div class="giz-input-wrapper">
        <input type="text"
               value="@_text"
               disabled="@IsDisabled"
               @ref="_inputElement"
               @oninput="OnInputHandler" />
        @if (!string.IsNullOrEmpty(Format))
        {            
            <div class="giz-numeric-up-down__value"
                 @onclick="@(() => _inputElement.FocusAsync())"
                 @oncontextmenu="@(() => _inputElement.FocusAsync())"
                 @oncontextmenu:preventDefault="true">
                @if (_decimalValue.HasValue)
                {
                    @_decimalValue.Value.ToString(Format)
                }
            </div>
        }
    </div>

    @if (CanClearValue && IsNullable() && Value != null)
    {
        <IconButton SVGIcon="@Icons.Close" Class="giz-input-button-clear" @onclick="OnClickButtonClearValueHandler" />
    }

    <IconButton SVGIcon="@Icons.ArrowDown" @onclick="OnClickButtonDecreaseValueHandler" />

    <IconButton SVGIcon="@Icons.ArrowUp" @onclick="OnClickButtonIncreaseValueHandler" />

</GizInput>