@namespace Gizmo.Web.Components
@inherits GizInputBase<string>

<GizInput Class="@ClassName"
          Style="@Style"
          Label="@Label"
          ValidationErrorStyle="@ValidationErrorStyle"
          IsReadOnly="@IsReadOnly"
          IsDisabled="@IsDisabled"
          IsFullWidth="@IsFullWidth"
          Width="@Width"
          HasOutline="@HasOutline"
          HasShadow="@HasShadow"
          IsTransparent="@IsTransparent"
          Size="@Size"
          IsValid="@IsValid"
          ValidationMessage="@ValidationMessage">
    <div class="giz-input-wrapper">
        @if(!string.IsNullOrEmpty(PlaceholderLabel))
        {
            <label class="@PlaceholderClassName">@PlaceholderLabel</label>
        }
        <input id="@Id"
               type="@(IsPasswordVisible ? "text" : "password")"
               value="@_text"
               readonly="@IsReadOnly"
               disabled="@IsDisabled"
               placeholder="@Placeholder"
               @oninput="OnInputHandler"
               @onchange="OnChangeHandler"
               @onclick="OnClickHandler"
               @attributes="Attributes" />
    </div>
    @if (ShowRevealButton)
    {
        <IconButton SVGIcon="@(IsPasswordVisible ? Icons.EyeClose_Client : Icons.EyeOpen_Client)" Class="giz-input-button-reveal" @onclick="OnClickButtonEyeHandler" />
    }
</GizInput>