@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName @Class">
    <input type="radio"
           name="@GroupName"
           checked="@IsChecked"
           disabled="@IsDisabled"
           id="@Id"
           @ref="Ref"
           @onchange="OnChangeRadioButtonHandler" />
    <label for="@Id">
        @if (!string.IsNullOrEmpty(Label))
        {
            @Label
        }
    </label>
</div>