@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName @Class">
    <input type="checkbox"
           id="@Id"
           checked="@IsChecked"
           disabled="@IsDisabled"
           @onchange="OnChangeHandler">
    <div class="giz-switch__control">
        <span class="giz-switch__control__slider">
            <span class="giz-switch__control__slider__thumb">
                @if (ThumbSVGIcon.HasValue)
                {
                    <Icon SVGIcon="ThumbSVGIcon" />
                }
            </span>
        </span>
    </div>
    <label for="@Id" class="giz-switch__label">@Label</label>
</div>